svg, g, path{
  pointer-events:fill;

}

path.clickeable{
  cursor: pointer;
}

.background{
  background-color: #EEE;
  fill:#EEE;
}


.tooltip{
  border: 1px solid #FFF;
  position: absolute;
  background-color: #CCC;
  padding: 4px;
  border-radius: 7px;
}

.map-container{
	image{
		z-index: 1000;
	}
	g{
		z-index: 1005;
	}
}