.ward-report-container {
  padding: 100px; }
  .ward-report-container .sub-title {
    padding: 10px;
    color: #2CA4C4;
    font-size: 20px;
    font-weight: bold; }
  .ward-report-container .report-header {
    color: #9C8568;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid #CCC;
    border-bottom: 2px solid #CCC;
    padding: 5px; }
    .ward-report-container .report-header > div {
      display: inline-block; }
    .ward-report-container .report-header .report-period {
      float: right; }
  .ward-report-container .population-box {
    font-weight: bold;
    border-bottom: 3px solid #CCC; }
    .ward-report-container .population-box > div {
      display: inline-block;
      width: 50%; }
    .ward-report-container .population-box .info > div {
      padding: 10px; }
    .ward-report-container .population-box .total-pop {
      color: #2C4856;
      font-size: 20px;
      font-weight: bold; }
      .ward-report-container .population-box .total-pop span {
        font-size: 30px; }
    .ward-report-container .population-box .value-item {
      display: inline-block;
      padding: 6px;
      border-right: 1px solid #CCC; }
      .ward-report-container .population-box .value-item div:first-child {
        font-size: 14px;
        color: #B4B5A8; }
      .ward-report-container .population-box .value-item div:last-child {
        font-size: 20px;
        color: #6D7280; }
  .ward-report-container .human-resources-box {
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 3px solid #CCC; }
    .ward-report-container .human-resources-box .total-pop {
      color: #2C4856;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 20px; }
      .ward-report-container .human-resources-box .total-pop span {
        font-size: 30px; }
    .ward-report-container .human-resources-box .value-item {
      display: inline-block;
      padding: 6px;
      border-right: 1px solid #CCC;
      display: inline-block; }
      .ward-report-container .human-resources-box .value-item div:first-child {
        font-size: 14px;
        color: #B4B5A8; }
      .ward-report-container .human-resources-box .value-item div:last-child {
        font-size: 20px;
        color: #6D7280; }
  .ward-report-container .top-ten-deseases {
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 3px solid #CCC; }
    .ward-report-container .top-ten-deseases .top-ten-diagnosis-table {
      font-size: 20px; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table table {
        width: 100%;
        text-align: center;
        vertical-align: top;
        border-collapse: collapse; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .diagnosis-header {
        color: #135897;
        border-bottom: 2px solid #CCC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .previous-period-header {
        color: #6D7280; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .current-period-header {
        background-color: #F4F2EC;
        color: #9C8568; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .previous-period-sub-header {
        color: #6D7280;
        font-size: 14px;
        border-bottom: 2px solid #CCC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header-partial {
        color: #B4B5A8;
        font-size: 14px;
        background-color: #F4F2EC;
        border-bottom: 2px solid #CCC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header {
        color: #6D7280;
        font-size: 14px;
        background-color: #F4F2EC;
        border-bottom: 2px solid #CCC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .desease-name {
        text-align: left;
        color: #2C4856; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .prevoius-value {
        color: #2C4856; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .current-value-partial {
        color: #B4B5A8;
        background-color: #F4F2EC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .current-value {
        color: #2C4856;
        background-color: #F4F2EC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .total-values td {
        border-top: 2px solid #CCC; }
      .ward-report-container .top-ten-deseases .top-ten-diagnosis-table .total-values .desease-name {
        text-align: right; }
  .ward-report-container .deaths-box {
    padding-top: 30px;
    font-weight: bold;
    border-bottom: 3px solid #CCC; }
    .ward-report-container .deaths-box .total-pop {
      color: #2C4856;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 20px; }
      .ward-report-container .deaths-box .total-pop span {
        font-size: 30px; }
    .ward-report-container .deaths-box .value-item {
      display: inline-block;
      padding: 6px;
      border-right: 1px solid #CCC;
      display: inline-block;
      padding: 0px 20px; }
      .ward-report-container .deaths-box .value-item div:first-child {
        font-size: 14px;
        color: #B4B5A8; }
      .ward-report-container .deaths-box .value-item div:last-child {
        font-size: 20px;
        color: #6D7280; }
