.share-buttons {
  position: fixed;
  top: 180px;
  left: 2px;
  opacity: .9;
  padding-top: 3px;
  padding-left: 3px;
  background-color: #F4F2EC;
  border: 1px solid #2C4856;
  padding-bottom: 3px; }

.shareLink {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../../../../public/share_icons_small.png");
  background-repeat: no-repeat; }

.facebook {
  background-position: -12px -9px; }

.twitter {
  background-position: -78px -9px; }

.instagram {
  background-position: 144px -9px; }

.gplus {
  background-position: -12px -72px; }

.in {
  background-position: -78px -72px; }

.pinterest {
  background-position: -144px -72px; }

.vk {
  background-position: -12px -135px; }

.twitter {
  background-position: -78px -135px; }

.be {
  background-position: -144px -135px; }

.copy-link-button {
  font-family: monospace;
  font-stretch: extra-expanded;
  font-size: 13px;
  border: 0px solid white;
  border-radius: 100%;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  border: 1px solid #EEE;
  cursor: pointer;
  height: 45px;
  width: 45px; }
  .copy-link-button .container {
    position: relative;
    height: 46px;
    width: 46px; }
    .copy-link-button .container .normal, .copy-link-button .container .hover, .copy-link-button .container .copied {
      display: block;
      text-align: center;
      line-height: 46px;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.2s all ease-in-out; }
    .copy-link-button .container .normal {
      opacity: 1;
      color: white;
      top: 0%; }
    .copy-link-button .container .hover {
      opacity: 0;
      top: 100%;
      color: white; }
    .copy-link-button .container .copied {
      opacity: 0;
      top: 100%;
      color: white; }
  .copy-link-button.normal {
    background-color: #00A3D9; }
  .copy-link-button.hover {
    background: #FFCE42; }
    .copy-link-button.hover .container .normal {
      top: -100%;
      opacity: 0; }
    .copy-link-button.hover .container .hover {
      top: 0%;
      opacity: 1; }
  .copy-link-button.copied {
    background: #00B34A; }
    .copy-link-button.copied .container .normal, .copy-link-button.copied .container .hover {
      top: -100%; }
    .copy-link-button.copied .container .copied {
      top: 0%;
      opacity: 1;
      color: white; }
