
.app{
	.header{
		height: 80px;
		border-bottom: 3px solid #CCC;
		>div{
			display: inline-block;
		}
		.app-name{
			float: left;
		    line-height: 80px;
		    color: #2C4856;
		    font-size: 23px;
		}
		.tz-flag{
			float: left;
		    margin: 10px;
		    height: 60px;
		    width: 105px;
		    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgNzIgNDgiPg0KPHBhdGggZD0iTTAsNDhWMEg3MnoiIGZpbGw9IiMxZWI1M2EiLz4NCjxwYXRoIGQ9Ik0wLDQ4SDcyVjB6IiBmaWxsPSIjMDBhM2RkIi8+DQo8cGF0aCBkPSJNMCw0OCA3MiwwIiBzdHJva2U9IiNmY2QxMTYiIHN0cm9rZS13aWR0aD0iMTkiLz4NCjxwYXRoIGQ9Ik0wLDQ4IDcyLDAiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxMyIvPg0KPC9zdmc+');
		    background-repeat: no-repeat;
		    background-size: 101px 87px;
		    background-position: 5px;
		}
		.lang-selector{
			float: right;
			margin-right: 100px;
    		line-height: 80px;
    		select{
    			width: 80px;
			    border: none;
			    color: #2196F3;
    		}
		}
	}
}