.facility-report-container {
  width: 1150px;
  max-width: 1150px;
  align-items: center;
  margin: auto;
  overflow-x: auto; }

.sub-title {
  padding: 10px;
  color: #2CA4C4;
  font-size: 20px;
  font-weight: bold; }

.download {
  display: block;
  text-align: right; }
  .download a {
    target: _blank;
    color: #668DAA;
    font-size: 11px;
    text-decoration: none; }
  .download a:after {
    content: "|";
    margin: 3px; }
  .download a:nth-last-child(1):after {
    content: ""; }

.report-header {
  color: #2C4856;
  font-size: 30px;
  font-weight: bold;
  border-top: 1px solid #CCC;
  border-bottom: 4px solid #CCC;
  padding-left: 26px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  background-color: #F4F2EC; }
  .report-header > div {
    display: inline-block; }
  .report-header .download {
    border: 1px solid red; }
  .report-header .period-selector-container {
    float: right;
    line-height: 45px; }
    .report-header .period-selector-container > div > div {
      display: inline-block;
      line-height: 1px;
      border-right: 1px solid #CCC;
      margin-right: 50px; }
      .report-header .period-selector-container > div > div select {
        padding-left: 12px;
        width: 200px;
        height: 31px;
        border-color: #CCC;
        color: #2C4856;
        border-radius: 4px;
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px; }

.location-box > div {
  width: calc(25% - 2px);
  height: 50px;
  background-color: #F4F2EC;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC; }

.location-box > div:not(:last-child) {
  border-right: 2px solid #CCC; }

.location-box div {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #2C4856; }

.location-box .location-title {
  padding: 10px;
  font-size: 13px; }

.location-box .location-value {
  font-weight: bold; }

.population-box {
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .population-box > div {
    display: inline-block;
    width: 50%;
    vertical-align: text-top; }
  .population-box .info > div {
    padding: 10px; }
  .population-box .total-pop {
    color: #2C4856;
    font-size: 20px;
    font-weight: bold; }
    .population-box .total-pop span {
      font-size: 30px; }
  .population-box .value-item {
    display: inline-block;
    padding: 14px;
    border-right: 1px solid #CCC; }
    .population-box .value-item div:first-child {
      font-size: 14px;
      color: #B4B5A8; }
    .population-box .value-item div:last-child {
      font-size: 20px;
      color: #6D7280; }
  .population-box .financing {
    width: 80%; }
    .population-box .financing .financing-header {
      height: 40px;
      text-align: center; }
      .population-box .financing .financing-header > div {
        width: 33%;
        display: inline-block;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        font-size: 14px;
        color: #B4B5A8; }
      .population-box .financing .financing-header > div:last-child {
        border-right: none; }
    .population-box .financing .financing-row {
      height: 40px;
      text-align: center; }
      .population-box .financing .financing-row > div:first-child {
        font-size: 20px;
        text-align: left; }
      .population-box .financing .financing-row > div {
        width: 33%;
        display: inline-block;
        border-right: 1px solid #CCC;
        color: #2C4856;
        font-size: 30px;
        font-weight: bold;
        height: 40px; }
      .population-box .financing .financing-row > div:last-child {
        border-right: none;
        color: #6D7280; }
        .population-box .financing .financing-row > div:last-child span {
          padding-left: 5px;
          color: #cc1a1a;
          font-size: 16px; }

.top-ten-deseases {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .top-ten-deseases .top-ten-diagnosis-table {
    font-size: 20px; }
    .top-ten-deseases .top-ten-diagnosis-table table {
      width: 100%;
      text-align: center;
      vertical-align: top;
      border-collapse: collapse; }
    .top-ten-deseases .top-ten-diagnosis-table .diagnosis-header {
      color: #135897;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .previous-period-header {
      color: #6D7280; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-header {
      background-color: #F4F2EC;
      color: #9C8568; }
    .top-ten-deseases .top-ten-diagnosis-table .previous-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header-partial {
      color: #B4B5A8;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .desease-name {
      text-align: left;
      color: #2C4856; }
    .top-ten-deseases .top-ten-diagnosis-table .prevoius-value {
      color: #2C4856; }
    .top-ten-deseases .top-ten-diagnosis-table .current-value-partial {
      color: #B4B5A8;
      background-color: #F4F2EC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-value {
      color: #2C4856;
      background-color: #F4F2EC; }
    .top-ten-deseases .top-ten-diagnosis-table .total-values td {
      border-top: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .total-values .desease-name {
      text-align: right; }

.RMNCH-box {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .RMNCH-box .RMNCH-table {
    font-size: 20px; }
    .RMNCH-box .RMNCH-table table {
      width: 100%;
      text-align: center;
      vertical-align: top;
      border-collapse: collapse; }
    .RMNCH-box .RMNCH-table .diagnosis-header {
      color: #135897;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .previous-period-header {
      color: #6D7280; }
    .RMNCH-box .RMNCH-table .current-period-header {
      background-color: #F4F2EC;
      color: #9C8568; }
    .RMNCH-box .RMNCH-table .previous-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .current-period-sub-header-partial {
      color: #B4B5A8;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .current-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .desease-name {
      text-align: left;
      color: #2C4856; }
    .RMNCH-box .RMNCH-table .prevoius-value {
      color: #2C4856; }
    .RMNCH-box .RMNCH-table .current-value-partial {
      color: #B4B5A8;
      background-color: #F4F2EC; }
    .RMNCH-box .RMNCH-table .current-value {
      color: #2C4856;
      background-color: #F4F2EC; }
    .RMNCH-box .RMNCH-table .total-values td {
      border-top: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .total-values .desease-name {
      text-align: right; }

.deaths-box {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .deaths-box .total-pop {
    color: #2C4856;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 20px; }
    .deaths-box .total-pop span {
      font-size: 30px; }
  .deaths-box .value-item {
    display: inline-block;
    padding: 6px;
    border-right: 1px solid #CCC;
    display: inline-block;
    padding: 0 20px; }
    .deaths-box .value-item div:first-child {
      font-size: 14px;
      color: #B4B5A8; }
    .deaths-box .value-item div:last-child {
      font-size: 20px;
      color: #6D7280; }

.map {
  height: 450px;
  width: 600px;
  overflow: hidden; }
  .map .map-container {
    float: none; }
  .map .legend-box:hover {
    opacity: 1; }
  .map .legend-box {
    height: 128px;
    width: 265px;
    background: #F1F1F1;
    position: relative;
    border: 1px solid #2c4856;
    left: 300px;
    bottom: 150px;
    color: #2c4856;
    opacity: 0.7; }
    .map .legend-box .legend-title {
      height: 25px;
      padding: 10px; }
    .map .legend-box .legend-item {
      height: 20px;
      padding: 2px 10px;
      font-size: 13px; }
      .map .legend-box .legend-item > div {
        display: inline-block; }
      .map .legend-box .legend-item .current-icon {
        width: 10px;
        height: 10px;
        border: 1px solid #57595d;
        border-radius: 10px;
        background: #980707;
        margin-right: 5px; }
      .map .legend-box .legend-item .other-icon {
        width: 10px;
        height: 10px;
        border: 1px solid #57595d;
        border-radius: 10px;
        background: #6C8EAD;
        margin-right: 5px; }
      .map .legend-box .legend-item .boundary-icon {
        width: 10px;
        border: 1px solid #9C8568;
        margin-right: 5px;
        margin-bottom: 4px; }

.ward-report-container {
  width: 1150px;
  max-width: 1150px;
  align-items: center;
  margin: auto;
  overflow-x: auto; }
  .ward-report-container .location-box div {
    width: calc(33% + 2px) !important; }
