.facility-report-container {
  width: 1150px;
  max-width: 1150px;
  align-items: center;
  margin: auto;
  overflow-x: auto; }

.sub-title {
  padding: 10px;
  color: #2CA4C4;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; }

.download {
  display: block;
  text-align: right; }
  .download a {
    target: _blank;
    color: #668DAA;
    font-size: 11px;
    text-decoration: none; }
  .download a:after {
    content: "|";
    margin: 3px; }
  .download a:nth-last-child(1):after {
    content: ""; }

.report-header {
  color: #2C4856;
  font-size: 30px;
  font-weight: bold;
  border-top: 1px solid #CCC;
  border-bottom: 4px solid #CCC;
  padding-left: 25px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  background-color: #F4F2EC; }
  .report-header > div {
    display: inline-block; }
  .report-header .download {
    border: 1px solid red; }
  .report-header .period-selector-container {
    float: right;
    line-height: 45px; }
    .report-header .period-selector-container > div > div {
      display: inline-block;
      line-height: 1px;
      border-right: 1px solid #CCC; }
      .report-header .period-selector-container > div > div select {
        padding-left: 12px;
        width: 200px;
        height: 31px;
        border-color: #CCC;
        color: #2C4856;
        border-radius: 4px;
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px; }

.location-box > div {
  width: calc(25% - 2px);
  height: 50px;
  background-color: #F4F2EC;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC; }

.location-box > div:not(:last-child) {
  border-right: 2px solid #CCC; }

.location-box div {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #2C4856; }

.location-box .location-title {
  padding: 10px;
  font-size: 13px; }

.location-box .location-value {
  font-weight: bold; }

.population-box {
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .population-box > div {
    display: inline-block;
    width: 50%;
    vertical-align: text-top; }
  .population-box .info > div {
    padding: 10px; }
  .population-box .total-pop {
    color: #2C4856;
    font-size: 20px;
    font-weight: bold; }
    .population-box .total-pop span {
      font-size: 30px; }
  .population-box .value-item {
    display: inline-block;
    padding: 14px;
    border-right: 1px solid #CCC; }
    .population-box .value-item div:first-child {
      font-size: 14px;
      color: #B4B5A8; }
    .population-box .value-item div:last-child {
      font-size: 20px;
      color: #6D7280; }
  .population-box .financing {
    width: 80%; }
    .population-box .financing .financing-header {
      height: 40px;
      text-align: center; }
      .population-box .financing .financing-header > div {
        width: 33%;
        display: inline-block;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        font-size: 14px;
        color: #B4B5A8; }
      .population-box .financing .financing-header > div:last-child {
        border-right: none; }
    .population-box .financing .financing-row {
      height: 40px;
      text-align: center; }
      .population-box .financing .financing-row > div:first-child {
        font-size: 20px;
        text-align: left; }
      .population-box .financing .financing-row > div {
        width: 33%;
        display: inline-block;
        border-right: 1px solid #CCC;
        color: #2C4856;
        font-size: 30px;
        font-weight: bold;
        height: 40px; }
      .population-box .financing .financing-row > div:last-child {
        border-right: none;
        color: #6D7280; }
        .population-box .financing .financing-row > div:last-child span {
          padding-left: 5px;
          color: #cc1a1a;
          font-size: 16px; }

.top-ten-deseases {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .top-ten-deseases .top-ten-diagnosis-table {
    font-size: 20px; }
    .top-ten-deseases .top-ten-diagnosis-table table {
      width: 100%;
      text-align: center;
      vertical-align: top;
      border-collapse: collapse; }
    .top-ten-deseases .top-ten-diagnosis-table .diagnosis-header {
      color: #135897;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .previous-period-header {
      color: #6D7280; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-header {
      background-color: #F4F2EC;
      color: #9C8568; }
    .top-ten-deseases .top-ten-diagnosis-table .previous-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header-partial {
      color: #B4B5A8;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .desease-name {
      text-align: left;
      color: #2C4856; }
    .top-ten-deseases .top-ten-diagnosis-table .prevoius-value {
      color: #2C4856; }
    .top-ten-deseases .top-ten-diagnosis-table .current-value-partial {
      color: #B4B5A8;
      background-color: #F4F2EC; }
    .top-ten-deseases .top-ten-diagnosis-table .current-value {
      color: #2C4856;
      background-color: #F4F2EC; }
    .top-ten-deseases .top-ten-diagnosis-table .total-values td {
      border-top: 2px solid #CCC; }
    .top-ten-deseases .top-ten-diagnosis-table .total-values .desease-name {
      text-align: right; }

.value-legend {
  display: inline-block;
  float: right;
  font-size: 15px;
  font-weight: normal;
  background: #f4f2ec;
  color: #2c4856;
  padding: 10px;
  word-spacing: 5px;
  margin-right: 15px; }

.RMNCH-box {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .RMNCH-box .RMNCH-table {
    font-size: 20px; }
    .RMNCH-box .RMNCH-table table {
      width: 100%;
      text-align: center;
      vertical-align: top;
      border-collapse: collapse; }
    .RMNCH-box .RMNCH-table .diagnosis-header {
      color: #135897;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .previous-period-header {
      color: #6D7280; }
    .RMNCH-box .RMNCH-table .current-period-header {
      background-color: #F4F2EC;
      color: #9C8568; }
    .RMNCH-box .RMNCH-table .previous-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .current-period-sub-header-partial {
      color: #B4B5A8;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .current-period-sub-header {
      color: #6D7280;
      font-size: 14px;
      background-color: #F4F2EC;
      border-bottom: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .desease-name {
      text-align: left;
      color: #2C4856; }
    .RMNCH-box .RMNCH-table .prevoius-value {
      color: #2C4856; }
    .RMNCH-box .RMNCH-table .current-value-partial {
      color: #B4B5A8;
      background-color: #F4F2EC; }
    .RMNCH-box .RMNCH-table .current-value {
      color: #2C4856;
      background-color: #F4F2EC; }
    .RMNCH-box .RMNCH-table .total-values td {
      border-top: 2px solid #CCC; }
    .RMNCH-box .RMNCH-table .total-values .desease-name {
      text-align: right; }

.deaths-box {
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 3px solid #CCC; }
  .deaths-box .total-pop {
    color: #2C4856;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 20px; }
    .deaths-box .total-pop span {
      font-size: 30px; }
  .deaths-box .value-item {
    display: inline-block;
    padding: 6px;
    border-right: 1px solid #CCC;
    display: inline-block;
    padding: 0 20px; }
    .deaths-box .value-item div:first-child {
      font-size: 14px;
      color: #B4B5A8; }
    .deaths-box .value-item div:last-child {
      font-size: 20px;
      color: #6D7280; }

.map {
  height: 450px;
  width: 600px;
  overflow: hidden; }
  .map .map-container {
    float: none; }
  .map .legend-box:hover {
    opacity: 1; }
  .map .legend-box {
    width: 265px;
    background: #F1F1F1;
    position: sticky;
    border: 1px solid #2c4856;
    left: 300px;
    bottom: 10px;
    color: #2c4856;
    opacity: 0.7; }
    .map .legend-box .legend-toggle-expand {
      height: 16px;
      width: 16px;
      display: inline-block;
      float: right;
      margin: 10px;
      cursor: pointer;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTI4Mi4wODIsMTk1LjI4NUwxNDkuMDI4LDYyLjI0Yy0xLjkwMS0xLjkwMy00LjA4OC0yLjg1Ni02LjU2Mi0yLjg1NnMtNC42NjUsMC45NTMtNi41NjcsMi44NTZMMi44NTYsMTk1LjI4NSAgIEMwLjk1LDE5Ny4xOTEsMCwxOTkuMzc4LDAsMjAxLjg1M2MwLDIuNDc0LDAuOTUzLDQuNjY0LDIuODU2LDYuNTY2bDE0LjI3MiwxNC4yNzFjMS45MDMsMS45MDMsNC4wOTMsMi44NTQsNi41NjcsMi44NTQgICBjMi40NzQsMCw0LjY2NC0wLjk1MSw2LjU2Ny0yLjg1NGwxMTIuMjA0LTExMi4yMDJsMTEyLjIwOCwxMTIuMjA5YzEuOTAyLDEuOTAzLDQuMDkzLDIuODQ4LDYuNTYzLDIuODQ4ICAgYzIuNDc4LDAsNC42NjgtMC45NTEsNi41Ny0yLjg0OGwxNC4yNzQtMTQuMjc3YzEuOTAyLTEuOTAyLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY2ICAgQzI4NC45MjksMTk5LjM3OCwyODMuOTg0LDE5Ny4xODgsMjgyLjA4MiwxOTUuMjg1eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
      background-repeat: no-repeat; }
    .map .legend-box .legend-toggle-colapse {
      height: 16px;
      width: 16px;
      display: inline-block;
      float: right;
      margin: 10px;
      cursor: pointer;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTI4Mi4wODIsNzYuNTExbC0xNC4yNzQtMTQuMjczYy0xLjkwMi0xLjkwNi00LjA5My0yLjg1Ni02LjU3LTIuODU2Yy0yLjQ3MSwwLTQuNjYxLDAuOTUtNi41NjMsMi44NTZMMTQyLjQ2NiwxNzQuNDQxICAgTDMwLjI2Miw2Mi4yNDFjLTEuOTAzLTEuOTA2LTQuMDkzLTIuODU2LTYuNTY3LTIuODU2Yy0yLjQ3NSwwLTQuNjY1LDAuOTUtNi41NjcsMi44NTZMMi44NTYsNzYuNTE1QzAuOTUsNzguNDE3LDAsODAuNjA3LDAsODMuMDgyICAgYzAsMi40NzMsMC45NTMsNC42NjMsMi44NTYsNi41NjVsMTMzLjA0MywxMzMuMDQ2YzEuOTAyLDEuOTAzLDQuMDkzLDIuODU0LDYuNTY3LDIuODU0czQuNjYxLTAuOTUxLDYuNTYyLTIuODU0TDI4Mi4wODIsODkuNjQ3ICAgYzEuOTAyLTEuOTAzLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY1QzI4NC45MjksODAuNjA3LDI4My45ODQsNzguNDE3LDI4Mi4wODIsNzYuNTExeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
      background-repeat: no-repeat; }
    .map .legend-box .legend-title {
      display: inline-block;
      padding: 10px; }
    .map .legend-box .legend-item {
      height: 20px;
      padding: 2px 10px;
      font-size: 13px; }
      .map .legend-box .legend-item > div {
        display: inline-block; }
      .map .legend-box .legend-item .current-icon {
        width: 10px;
        height: 10px;
        border: 1px solid #57595d;
        border-radius: 10px;
        background: #980707;
        margin-right: 5px; }
      .map .legend-box .legend-item .other-icon {
        width: 10px;
        height: 10px;
        border: 1px solid #57595d;
        border-radius: 10px;
        background: #6C8EAD;
        margin-right: 5px; }
      .map .legend-box .legend-item .boundary-icon {
        width: 10px;
        border: 1px solid #9C8568;
        margin-right: 5px;
        margin-bottom: 4px; }
      .map .legend-box .legend-item .district-boundary-icon {
        width: 10px;
        border: 1px solid #6C8EAD;
        margin-right: 5px;
        margin-bottom: 4px; }

.ward-report-container {
  width: 1150px;
  max-width: 1150px;
  align-items: center;
  margin: auto;
  overflow-x: auto; }
  .ward-report-container .location-box div {
    width: calc(33% + 2px) !important; }

.print-icon {
  float: right;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiM0QjRBNEE7c3Ryb2tlLXdpZHRoOjM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSI4MC4zNCw0Ljk0IDgwLjM0LDE1LjYxIDgwLjM0LDMwLjg1IDE5LjM5LDMwLjg1IDE5LjM5LDQuOTQgIi8+PHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iODAuMzQsNTguMjggODAuMzQsOTMuMzIgMTkuMzksOTMuMzIgMTkuMzksNTguMjggIi8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjMxLjU4IiB5MT0iNjguNDciIHgyPSI2OC4xNSIgeTI9IjY4LjQ3Ii8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjMxLjU4IiB5MT0iNzYuMDkiIHgyPSI2OC4xNSIgeTI9Ijc2LjA5Ii8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjMxLjU4IiB5MT0iODQuMDkiIHgyPSI2OC4xNSIgeTI9Ijg0LjA5Ii8+PGxpbmUgY2xhc3M9InN0MCIgeDE9IjUuNjgiIHkxPSI1OC4yOCIgeDI9Ijk0LjA2IiB5Mj0iNTguMjgiLz48cG9seWxpbmUgY2xhc3M9InN0MCIgcG9pbnRzPSI4MC4zNCw1OC4yOCA4MC4zNCw3OS42MiA4NC45MSw3OS42MiA4NC45MSw3OS42MSA5NC4wNiw3OS42MSA5NC4wNiwzMC44NSA1LjY4LDMwLjg1IDUuNjgsNzkuNjEgMTQuODIsNzkuNjEgMTQuODIsNzkuNjIgMTkuMzksNzkuNjIgMTkuMzksNTguMjggIi8+PHJlY3QgeD0iNTQuNzgiIHk9IjM3Ljk3IiBjbGFzcz0ic3QwIiB3aWR0aD0iMzEuNiIgaGVpZ2h0PSIxMy4xOSIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  height: 25px;
  width: 25px;
  padding: 15px 10px;
  cursor: pointer; }

.copy-link-icon {
  float: right;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiM0QjRBNEE7c3Ryb2tlOiM0QjRBNEE7c3Ryb2tlLXdpZHRoOjEuMzY3NDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9LnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiM0QjRBNEE7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTIzLjU5LDI5LjQxYy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM0NC4xLDM4LjU5LDM0LjkyLDI5LjQxLDIzLjU5LDI5LjQxeiBNMjMuNTksNjYuNTJjLTkuMTctMC4wMi0xNi41OS03LjQ0LTE2LjYtMTYuNmMwLjAyLTkuMTcsNy40My0xNi41OSwxNi42LTE2LjZjOS4xNywwLjAyLDE2LjU5LDcuNDMsMTYuNiwxNi42QzQwLjE4LDU5LjA5LDMyLjc2LDY2LjUxLDIzLjU5LDY2LjUyeiIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik03NS41NSwyLjA2Yy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM5Ni4wNywxMS4yNCw4Ni44OCwyLjA2LDc1LjU1LDIuMDZ6IE03NS41NSwzOS4xN2MtOS4xNy0wLjAyLTE2LjU5LTcuNDQtMTYuNi0xNi42YzAuMDItOS4xNyw3LjQzLTE2LjU5LDE2LjYtMTYuNmM5LjE3LDAuMDIsMTYuNTksNy40MywxNi42LDE2LjZDOTIuMTQsMzEuNzQsODQuNzIsMzkuMTYsNzUuNTUsMzkuMTd6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTc1LjU1LDU2Ljc1Yy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM5Ni4wNyw2NS45NCw4Ni44OCw1Ni43Niw3NS41NSw1Ni43NXogTTc1LjU1LDkzLjg3Yy05LjE3LTAuMDItMTYuNTktNy40NC0xNi42LTE2LjZjMC4wMi05LjE3LDcuNDMtMTYuNTksMTYuNi0xNi42YzkuMTcsMC4wMiwxNi41OSw3LjQzLDE2LjYsMTYuNkM5Mi4xNCw4Ni40Myw4NC43Miw5My44NSw3NS41NSw5My44N3oiLz48bGluZSBjbGFzcz0ic3QxIiB4MT0iNDAuNjYiIHkxPSI0Mi4xMiIgeDI9IjU4LjQ5IiB5Mj0iMzEuODIiLz48bGluZSBjbGFzcz0ic3QxIiB4MT0iNDAuNjYiIHkxPSI1OS4xNyIgeDI9IjU4LjQ5IiB5Mj0iNjkuNDciLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  height: 25px;
  width: 25px;
  padding: 15px 10px;
  cursor: pointer; }

.copy-link-icon.copied {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiM0N2E1NGI7c3Ryb2tlOiM0N2E1NGI7c3Ryb2tlLXdpZHRoOjEuMzY3NDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9LnN0MXtmaWxsOm5vbmU7c3Ryb2tlOiM0N2E1NGI7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTIzLjU5LDI5LjQxYy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM0NC4xLDM4LjU5LDM0LjkyLDI5LjQxLDIzLjU5LDI5LjQxeiBNMjMuNTksNjYuNTJjLTkuMTctMC4wMi0xNi41OS03LjQ0LTE2LjYtMTYuNmMwLjAyLTkuMTcsNy40My0xNi41OSwxNi42LTE2LjZjOS4xNywwLjAyLDE2LjU5LDcuNDMsMTYuNiwxNi42QzQwLjE4LDU5LjA5LDMyLjc2LDY2LjUxLDIzLjU5LDY2LjUyeiIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik03NS41NSwyLjA2Yy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM5Ni4wNywxMS4yNCw4Ni44OCwyLjA2LDc1LjU1LDIuMDZ6IE03NS41NSwzOS4xN2MtOS4xNy0wLjAyLTE2LjU5LTcuNDQtMTYuNi0xNi42YzAuMDItOS4xNyw3LjQzLTE2LjU5LDE2LjYtMTYuNmM5LjE3LDAuMDIsMTYuNTksNy40MywxNi42LDE2LjZDOTIuMTQsMzEuNzQsODQuNzIsMzkuMTYsNzUuNTUsMzkuMTd6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTc1LjU1LDU2Ljc1Yy0xMS4zMywwLTIwLjUxLDkuMTgtMjAuNTEsMjAuNTFjMCwxMS4zMyw5LjE4LDIwLjUxLDIwLjUxLDIwLjUxYzExLjMzLDAsMjAuNTEtOS4xOCwyMC41MS0yMC41MUM5Ni4wNyw2NS45NCw4Ni44OCw1Ni43Niw3NS41NSw1Ni43NXogTTc1LjU1LDkzLjg3Yy05LjE3LTAuMDItMTYuNTktNy40NC0xNi42LTE2LjZjMC4wMi05LjE3LDcuNDMtMTYuNTksMTYuNi0xNi42YzkuMTcsMC4wMiwxNi41OSw3LjQzLDE2LjYsMTYuNkM5Mi4xNCw4Ni40Myw4NC43Miw5My44NSw3NS41NSw5My44N3oiLz48bGluZSBjbGFzcz0ic3QxIiB4MT0iNDAuNjYiIHkxPSI0Mi4xMiIgeDI9IjU4LjQ5IiB5Mj0iMzEuODIiLz48bGluZSBjbGFzcz0ic3QxIiB4MT0iNDAuNjYiIHkxPSI1OS4xNyIgeDI9IjU4LjQ5IiB5Mj0iNjkuNDciLz48L3N2Zz4=); }

.population-disclaimer {
  font-size: 12px;
  color: #2c4856; }
