.facility-report-container {
	width: 1150px;
	max-width: 1150px;
	align-items: center;
	margin: auto;
	overflow-x: auto;
}

.sub-title {
	padding: 10px;
	color: #2CA4C4;
	font-size: 20px;
	font-weight: bold;
}

.download {
	display: block;
	text-align: right;

	a {
		target:_blank;
		color: #668DAA;
		font-size: 11px;
		text-decoration: none;
	}

	a:after {
		content: "|";
		margin: 3px;
	}

	a:nth-last-child(1):after {
		content: ""
	}
}

.report-header {
	color: #2C4856;
	font-size: 30px;
	font-weight: bold;
	border-top: 1px solid #CCC;
	border-bottom: 4px solid #CCC;
	padding-left: 26px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 20px;
	background-color: #F4F2EC;

	> div {
		display: inline-block;
	}

	.facility-name {}

	.download {
		border: 1px solid red;
	}

	.period-selector-container {
		float: right;
		line-height: 45px;

		> div {
			> div {
				display: inline-block;
				line-height: 1px;
				border-right: 1px solid #CCC;
				
				select {
					padding-left: 12px;
					width: 200px;
					height: 31px;
					border-color: #CCC;
					color: #2C4856;
					border-radius: 4px;
					font-size: 12px;
					margin-left: 20px;
					margin-right: 20px;
				}
			}
		}
	}
}

.location-box {
	> div {
		width: calc(25% - 2px);
		height: 50px;
		background-color: #F4F2EC;
		border-top: 2px solid #CCC;
		border-bottom: 2px solid #CCC;
	}

	> div:not(:last-child) {
		border-right: 2px solid #CCC;
	}

	div {
		display: inline-block;
		line-height: 30px;
		text-align: center;
		color: #2C4856;
	}

	.location-title {
		padding: 10px;
		font-size: 13px;
	}

	.location-value {
		font-weight: bold;
	}
}

.population-box {
	font-weight: bold;
	border-bottom: 3px solid #CCC;

	> div {
		display: inline-block;
		width: 50%;
		vertical-align: text-top;
	}

	.info > div {
		padding: 10px;
	}

	.total-pop {
		color: #2C4856;
		font-size: 20px;
		font-weight: bold;

		span {
			font-size: 30px;
		}
	}

	.value-item {
		display: inline-block;
		padding: 14px;
		border-right: 1px solid #CCC;

		div:first-child {
			font-size: 14px;
			color: #B4B5A8;
		}

		div:last-child {
			font-size: 20px;
			color: #6D7280;
		}
	}

	.financing {
		width: 80%;

		.financing-header {
			height: 40px;
			text-align: center;

			> div {
				width: 33%;
				display: inline-block;
				border-bottom: 1px solid #CCC;
				border-right: 1px solid #CCC;
				font-size: 14px;
				color: #B4B5A8;
			}

			> div:last-child {
				border-right: none;
			}
		}

		.financing-row {
			height: 40px;
			text-align: center;

			> div:first-child {
				font-size: 20px;
				text-align: left;
			}

			> div {
				width: 33%;
				display: inline-block;
				border-right: 1px solid #CCC;
				color: #2C4856;
				font-size: 30px;
				font-weight: bold;
				height: 40px;
			}

			> div:last-child {
				border-right: none;
				color: #6D7280;

				span {
					padding-left: 5px;
					color: #cc1a1a;
					font-size: 16px;
				}
			}
		}
	}
}

.top-ten-deseases {
	padding-top: 30px;
	font-weight: bold;
	border-bottom: 3px solid #CCC;

	.top-ten-diagnosis-table {
		font-size: 20px;

		table {
			width: 100%;
			text-align: center;
			vertical-align: top;
			border-collapse: collapse;
		}

		.diagnosis-header {
			color: #135897;
			border-bottom: 2px solid #CCC;
		}

		.previous-period-header {
			color: #6D7280;
		}

		.current-period-header {
			background-color: #F4F2EC;
			color: #9C8568;
		}

		.previous-period-sub-header {
			color: #6D7280;
			font-size: 14px;
			border-bottom: 2px solid #CCC;
		}

		.current-period-sub-header-partial {
			color: #B4B5A8;
			font-size: 14px;
			background-color: #F4F2EC;
			border-bottom: 2px solid #CCC;
		}

		.current-period-sub-header {
			color: #6D7280;
			font-size: 14px;
			background-color: #F4F2EC;
			border-bottom: 2px solid #CCC;
		}

		.desease-name {
			text-align: left;
			color: #2C4856;
		}

		.prevoius-value {
			color: #2C4856;
		}

		.current-value-partial {
			color: #B4B5A8;
			background-color: #F4F2EC;
		}

		.current-value {
			color: #2C4856;
			background-color: #F4F2EC;
		}

		.total-values {
			td {
				border-top: 2px solid #CCC;
			}

			.desease-name {
				text-align: right;
			}
		}
	}
}

.RMNCH-box {
	padding-top: 30px;
	font-weight: bold;
	border-bottom: 3px solid #CCC;

	.RMNCH-table {
		font-size: 20px;

		table {
			width: 100%;
			text-align: center;
			vertical-align: top;
			border-collapse: collapse;
		}

		.diagnosis-header {
			color: #135897;
			border-bottom: 2px solid #CCC;
		}

		.previous-period-header {
			color: #6D7280;
		}

		.current-period-header {
			background-color: #F4F2EC;
			color: #9C8568;
		}

		.previous-period-sub-header {
			color: #6D7280;
			font-size: 14px;
			border-bottom: 2px solid #CCC;
		}

		.current-period-sub-header-partial {
			color: #B4B5A8;
			font-size: 14px;
			background-color: #F4F2EC;
			border-bottom: 2px solid #CCC;
		}

		.current-period-sub-header {
			color: #6D7280;
			font-size: 14px;
			background-color: #F4F2EC;
			border-bottom: 2px solid #CCC;
		}

		.desease-name {
			text-align: left;
			color: #2C4856;
		}

		.prevoius-value {
			color: #2C4856;
		}

		.current-value-partial {
			color: #B4B5A8;
			background-color: #F4F2EC;
		}

		.current-value {
			color: #2C4856;
			background-color: #F4F2EC;
		}

		.total-values {
			td {
				border-top: 2px solid #CCC;
			}

			.desease-name {
				text-align: right;
			}
		}
	}
}

.deaths-box {
	padding-top: 30px;
	font-weight: bold;
	border-bottom: 3px solid #CCC;

	.total-pop {
		color: #2C4856;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		padding: 20px;

		span {
			font-size: 30px;
		}
	}

	.value-item {
		display: inline-block;
		padding: 6px;
		border-right: 1px solid #CCC;
		display: inline-block;
		padding: 0 20px;

		div:first-child {
			font-size: 14px;
			color: #B4B5A8;
		}

		div:last-child {
			font-size: 20px;
			color: #6D7280;
		}
	}
}

.map {
	height: 450px;
	width: 600px;
	overflow: hidden;

	.map-container {
		float: none;
	}

	.legend-box:hover {
		opacity: 1;
	}

	.legend-box {
		width: 265px;
		background: #F1F1F1;
		position: sticky;
		border: 1px solid #2c4856;
		left: 300px;
		bottom: 10px;
		color: #2c4856;
		opacity: 0.7;

		> div {}

		.legend-header {
			
		}
		.legend-toggle-expand {
			height: 16px;
    		width: 16px;
			display: inline-block;
			float: right;
		    margin: 10px;
		    cursor: pointer;
		    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTI4Mi4wODIsMTk1LjI4NUwxNDkuMDI4LDYyLjI0Yy0xLjkwMS0xLjkwMy00LjA4OC0yLjg1Ni02LjU2Mi0yLjg1NnMtNC42NjUsMC45NTMtNi41NjcsMi44NTZMMi44NTYsMTk1LjI4NSAgIEMwLjk1LDE5Ny4xOTEsMCwxOTkuMzc4LDAsMjAxLjg1M2MwLDIuNDc0LDAuOTUzLDQuNjY0LDIuODU2LDYuNTY2bDE0LjI3MiwxNC4yNzFjMS45MDMsMS45MDMsNC4wOTMsMi44NTQsNi41NjcsMi44NTQgICBjMi40NzQsMCw0LjY2NC0wLjk1MSw2LjU2Ny0yLjg1NGwxMTIuMjA0LTExMi4yMDJsMTEyLjIwOCwxMTIuMjA5YzEuOTAyLDEuOTAzLDQuMDkzLDIuODQ4LDYuNTYzLDIuODQ4ICAgYzIuNDc4LDAsNC42NjgtMC45NTEsNi41Ny0yLjg0OGwxNC4yNzQtMTQuMjc3YzEuOTAyLTEuOTAyLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY2ICAgQzI4NC45MjksMTk5LjM3OCwyODMuOTg0LDE5Ny4xODgsMjgyLjA4MiwxOTUuMjg1eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    		background-repeat: no-repeat;
		}
		.legend-toggle-colapse {
			height: 16px;
    		width: 16px;
			display: inline-block;
			float: right;
		    margin: 10px;
		    cursor: pointer;
		    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTI4Mi4wODIsNzYuNTExbC0xNC4yNzQtMTQuMjczYy0xLjkwMi0xLjkwNi00LjA5My0yLjg1Ni02LjU3LTIuODU2Yy0yLjQ3MSwwLTQuNjYxLDAuOTUtNi41NjMsMi44NTZMMTQyLjQ2NiwxNzQuNDQxICAgTDMwLjI2Miw2Mi4yNDFjLTEuOTAzLTEuOTA2LTQuMDkzLTIuODU2LTYuNTY3LTIuODU2Yy0yLjQ3NSwwLTQuNjY1LDAuOTUtNi41NjcsMi44NTZMMi44NTYsNzYuNTE1QzAuOTUsNzguNDE3LDAsODAuNjA3LDAsODMuMDgyICAgYzAsMi40NzMsMC45NTMsNC42NjMsMi44NTYsNi41NjVsMTMzLjA0MywxMzMuMDQ2YzEuOTAyLDEuOTAzLDQuMDkzLDIuODU0LDYuNTY3LDIuODU0czQuNjYxLTAuOTUxLDYuNTYyLTIuODU0TDI4Mi4wODIsODkuNjQ3ICAgYzEuOTAyLTEuOTAzLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY1QzI4NC45MjksODAuNjA3LDI4My45ODQsNzguNDE3LDI4Mi4wODIsNzYuNTExeiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
    		background-repeat: no-repeat;
		}
		.legend-title {
			display: inline-block;
			padding: 10px;
		}

		.legend-item {
			height: 20px;
			padding: 2px 10px;
			font-size: 13px;

			> div {
				display: inline-block;
			}

			.current-icon {
				width: 10px;
				height: 10px;
				border: 1px solid #57595d;
				border-radius: 10px;
				background: #980707;
				margin-right: 5px;
			}

			.other-icon {
				width: 10px;
				height: 10px;
				border: 1px solid #57595d;
				border-radius: 10px;
				background: #6C8EAD;
				margin-right: 5px;
			}

			.boundary-icon {
				width: 10px;
				border: 1px solid #9C8568;
				margin-right: 5px;
				margin-bottom: 4px;
			}
		}
	}
}

.ward-report-container {
	width: 1150px;
	max-width: 1150px;
	align-items: center;
	margin: auto;
	overflow-x: auto;

	.location-box {
		div {
			width: calc(33% + 2px) !important;
		}
	}
}

.print-icon{
  float: right;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDQ3NS4wNzggNDc1LjA3NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDc1LjA3OCA0NzUuMDc3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTQ1OC45NTksMjE3LjEyNGMtMTAuNzU5LTEwLjc1OC0yMy42NTQtMTYuMTM0LTM4LjY5LTE2LjEzNGgtMTguMjY4di03My4wODljMC03LjYxMS0xLjkxLTE1Ljk5LTUuNzE5LTI1LjEyMiAgIGMtMy44MDYtOS4xMzYtOC4zNzEtMTYuMzY4LTEzLjY5OS0yMS42OThMMzM5LjE4LDM3LjY4M2MtNS4zMjgtNS4zMjUtMTIuNTYtOS44OTUtMjEuNjkyLTEzLjcwNCAgIGMtOS4xMzgtMy44MDUtMTcuNTA4LTUuNzA4LTI1LjEyNi01LjcwOEgxMDAuNWMtNy42MTQsMC0xNC4wODcsMi42NjMtMTkuNDE3LDcuOTkzYy01LjMyNyw1LjMyNy03Ljk5NCwxMS43OTktNy45OTQsMTkuNDE0VjIwMC45OSAgIEg1NC44MThjLTE1LjAzNywwLTI3LjkzMiw1LjM3OS0zOC42ODgsMTYuMTM0QzUuMzc2LDIyNy44NzYsMCwyNDAuNzcyLDAsMjU1LjgxdjExOC43NzNjMCwyLjQ3OCwwLjkwNSw0LjYwOSwyLjcxMiw2LjQyNiAgIGMxLjgwOSwxLjgwNCwzLjk1MSwyLjcwNyw2LjQyMywyLjcwN2g2My45NTR2NDUuNjhjMCw3LjYxNywyLjY2NCwxNC4wODksNy45OTQsMTkuNDE3YzUuMzMsNS4zMjUsMTEuODAzLDcuOTk0LDE5LjQxNyw3Ljk5NCAgIGgyNzQuMDgzYzcuNjExLDAsMTQuMDkzLTIuNjY5LDE5LjQxOC03Ljk5NGM1LjMyOC01LjMzMiw3Ljk5NC0xMS44LDcuOTk0LTE5LjQxN3YtNDUuNjhoNjMuOTUzYzIuNDcxLDAsNC42MTMtMC45MDMsNi40Mi0yLjcwNyAgIGMxLjgwNy0xLjgxNiwyLjcxLTMuOTQ4LDIuNzEtNi40MjZWMjU1LjgxQzQ3NS4wODIsMjQwLjc3Miw0NjkuNzA4LDIyNy44NzYsNDU4Ljk1OSwyMTcuMTI0eiBNMzY1LjQ0OSw0MjAuMjYySDEwOS42MzZ2LTczLjA4NyAgIGgyNTUuODEzVjQyMC4yNjJ6IE0zNjUuNDQ5LDIzNy41MzdIMTA5LjYzNlY1NC44MTZoMTgyLjcyNnY0NS42NzljMCw3LjYxNCwyLjY2OSwxNC4wODMsNy45OTEsMTkuNDE0ICAgYzUuMzI4LDUuMzMsMTEuNzk5LDcuOTkzLDE5LjQxNyw3Ljk5M2g0NS42NzlWMjM3LjUzN3ogTTQzMy4xMTYsMjY4LjY1NmMtMy42MTQsMy42MTQtNy44OTgsNS40MjgtMTIuODQ3LDUuNDI4ICAgYy00Ljk0OSwwLTkuMjMzLTEuODEzLTEyLjg0OC01LjQyOGMtMy42MTMtMy42MS01LjQyLTcuODk4LTUuNDItMTIuODQ3czEuODA3LTkuMjMyLDUuNDItMTIuODQ3ICAgYzMuNjE0LTMuNjE3LDcuODk4LTUuNDI2LDEyLjg0OC01LjQyNmM0Ljk0OCwwLDkuMjMyLDEuODA5LDEyLjg0Nyw1LjQyNmMzLjYxMywzLjYxNCw1LjQyNyw3Ljg5OCw1LjQyNywxMi44NDcgICBTNDM2LjczMywyNjUuMDQ2LDQzMy4xMTYsMjY4LjY1NnoiIGZpbGw9IiMyYzQ4NTYiLz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  height: 25px;
  width: 25px;
  padding: 15px;
  cursor: pointer;
}